<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Home page</title>
</head>
<body>
    <h1>Liste des tache</h1>
<form action="/list" method="POST">
<input type="text" name="field1">
<input type="submit">
</form>
<!-- ............. -->
    <ul>
      <% list.forEach((el) => { %>
  
      <li>
        <a href="/lists/<%= el.list_id %>">
           
                <%= el.nom %>
        </a>
    </li>
    <%})%>
    </ul>
</body>
</html>