<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Home page</title>
</head>
<body>
    <h1>Liste des tache</h1>
<form action="/list" method="POST">
<input type="text" name="field1">
<input type="submit" value="Add">
</form>
<!-- ............. -->


<!--  -->
<div id="list-container">
      <% list.forEach((el) => { %>
             <div id="text">
                 <a href="/lists/<%=el.list_id %>">
           
                         <p><%= el.nom %></p> 
                  </a>
                         <a href="/DeletList/<%=el.list_id %>">  <button  name="list"> Suprimer</button> </a>
                        </div>
                     
      <%})%>
    </div>        

</body>
</html>