<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>tach</title>
</head>
<body>
   
  
    <!-- ............................ -->
    <h1>détails des tahces</h1>
    <% tache.forEach((tache) => { %>
         <p> <a href="/tache/<%= tache.ID %>">
             <%= tache.Description %> </a> </p>
             <p> <%= tache.Date_de_creation.toString('YYYY-MM-DD') %> </p>
             <p> <%= tache.Fini %> </p>
           
      <%})%>
      
</body>
</html>