body{
    background-color: rgb(67, 70, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#list-container{
    background-color: rgb(228, 225, 222);
    border: 2px solid black;
    height: 50%;
    width: 50%;
   padding: 2%;
   margin: 1%;
  

}
#taches-container{
    background-color: rgb(228, 225, 222);
    border: 2px solid black;
    height: 300px;
    width: 20%;
   padding: 2%;
   margin: 1%;
}
#text{
    background-color: beige;
    border: 2px black solid;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    box-shadow: 2px 3px black;
    padding-left: 2%;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: black;
    color: blanchedalmond;
}
input[type=submit]{
    background-color: black;
    color: blanchedalmond;
}